/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url("/images/cover-image-dark.png");
--title-size: 116px;
--title-color: #DB00FF;
--accent-color: #FF0070;
--main-font-family: 'IBM Plex Mono';
--bg-color: #353430;
--text-color: #FF0070;
--deco-color: #353430;
}

.theme-neon .decor-rec {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--accent-color);
  text-shadow: 2px 2px 0 var(--shadow-color);
  font-family: var(--main-font-family);
  font-size: 14px;
  position: absolute;
  top: 10px;    
  right: 10px;
}

.theme-dark .decor-rec::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color); 
  position: absolute;
  top: 0; 
  right: -12px; 
}