/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url("/images/cover-image-dark.png");
  --background-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --main-font-family: 'IBM Plex Mono';
  --bg-color: #000028;
  --text-color: #FF0070;
  --deco-color: #FF0070;
  --paragraph-color: #F1B2CE;
}

:root.theme-dark .decor_rec {
  display: inline;
}

:root.theme-dark .decor_rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

:root.theme-dark .title-decor {
  color: var(--bg-color) ;
  background-color: var(--text-color);
}

:root.theme-dark .card__paragraph {
  color: var(--paragraph-color);
}

:root.theme-dark .section__title {
  color: #FF0070;
}

:root.theme-dark .header__theme-menu-button {
  color: #FF0070;
}

:root.theme-dark .header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
  outline-offset: 1px;
}

:root.theme-dark .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid #FF0070;
}

:root.theme-dark .section__title.title-decor {
  color: #000028;
}

/* Автоматическая темная тема */
@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url("../images/cover-image-dark.png");
    --background-color: #000028;
    --title-color: #DB00FF;
    --accent-color: #FF0070;
    --bg-color: #000028;
    --text-color: #FF0070;
    --deco-color: #FF0070;
    --paragraph-color: #F1B2CE;
  }
}