/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url("/images/cover-image-dark.png");
  --background-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --main-font-family: 'IBM Plex Mono';
  --bg-color: #000028;
  --text-color: #FF0070;
  --deco-color: #FF0070;
  --paragraph-color: #F1B2CE; 
}

:root.theme-dark .decor_rec {
  display: inline;
  position: absolute;
  top: 20px;
  font-size: 18px;
  right: 29px;
  color: var(--accent-color);
  line-height: 25px;
}

:root.theme-dark .decor_rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  top: 28px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

:root.theme-dark .title-decor {
  color: var(--bg-color); 
  background-color: var(--text-color);
}

:root.theme-dark .card__paragraph {
  color: var(--paragraph-color); 
}

:root.theme-dark .section__title {
  color: var(--text-color); 
}

:root.theme-dark .header__theme-menu-button {
  color: var(--text-color);
}