:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --main-font-family: 'IBM Plex Mono';
  --bg-color: #000028;
  --text-color: #FF0070;
  --deco-color: #FF0070;
  --paragraph-color: #F1B2CE;
  --switch-color: #FF007066;
}

:root.theme-dark .decor_rec {
  display: inline;
}

/* Автоматическая темная тема */
@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url("../images/cover-image-dark.png");
    --background-color: #000028;
    --title-color: #DB00FF;
    --accent-color: #FF0070;
    --bg-color: #000028;
    --text-color: #FF0070;
    --deco-color: #FF0070;
    --paragraph-color: #F1B2CE;
    --switch-color: #FF007066;
  }

  .decor_rec {
    display: inline;
  }
}