/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --background-color: #FFF1F7;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #FF8DCB;
  --deco-color: #353430;
  --paragraph-color: #353430;
  --bg-color: #353430;
  --switch-color: #32312D66;
}

:root.theme-light .decor_rec {
  display: none !important;
}

@media (prefers-color-scheme: light) {
  :root {
    --switch-color: #32312D66;
  }
}
