/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --background-color: #FFF1F7;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #FF8DCB;
  --deco-color: #353430;
  --paragraph-color: #353430;
  --bg-color: #353430;
  --switch-color: #32312D66;
}

:root.theme-light .decor_rec {
  display: none !important;
}

:root.theme-light .header__theme-menu-button:hover {
  outline: 1px solid var(--switch-color);
}

:root.theme-light .header__theme-menu-button {
  color: var(--deco-color);
}

:root.theme-light .section__title {
  color: var(--deco-color);
}

:root.theme-light .card__link-style:hover {
  border-bottom: 1px solid var(--deco-color);
}

:root.theme-light .card__link-style:focus-visible {
  outline: 1px solid var(--deco-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --switch-color: #32312D66;
  }
  
  .section__title {
    color: var(--deco-color);
  }

  .card__link-style:hover {
    border-bottom: 1px solid var(--deco-color);
  }

  .card__link-style:focus-visible {
    outline: 1px solid var(--deco-color);
    
  }
}