/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --background-color: #FFF1F7;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #FF8DCB;
  --deco-color: #353430;
  --paragraph-color: #353430;
  --bg-color: #353430;
}

:root.theme-light .decor_rec {
  display: none !important;
}

:root.theme-light .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4);
}

:root.theme-light .header__theme-menu-button {
  color: #353430;
}

:root.theme-light .section__title {
  color: #353430;
}