/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  position: relative;
  font-family: var(--main-font-family), sans-serif;
  background-attachment: fixed;
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text-monospace {
  font-family: 'IBM Plex mono', sans-serif;
}

.text-size-base {
  font-size: 18px;
}

.text-line-height-increased {
  line-height: 23.4px;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  padding: 10px;
  position: relative;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr;
}

.header__theme-menu {
  position: absolute;
  top: 76px;
  right: 10px;
}

.header__theme-menu-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  font-family: var(--main-font-family), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  gap: 15px;
}

.decorated-zone {
    width: 100%;
    align-items: center;
    position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--deco-color);
  border-left: 1px solid var(--deco-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--deco-color);
  border-right: 1px solid var(--deco-color);
}

 .decor_rec {
  display: none;
  position: absolute;
  top: 10px;
  font-size: 18px;
  right: 19px;
  color: var(--accent-color);
  line-height: 25px;
}

.decor_rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu-button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 18px;
  padding: 2px 12.5px;
  color: var(--deco-color);
}

.header_title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
  grid-row: 2;
  grid-column: 1;
  font-family: var(--main-font-family), sans-serif;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--deco-color);
  outline-offset: 1px;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--switch-color);
  outline-offset: 1px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--deco-color);
}

.title-decor {
  color: var(--bg-color);
  background-color: var(--text-color);
}

.header__paragraph {
  grid-row: 3;
  grid-column: 1;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.content {
  display: grid;
  margin-top: 40px;
    grid-template-columns: 1fr;
    gap: 50px;
}

.section {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
}

.section_cards-grid .card {
  margin-bottom: 20px;
}

.section_cards-grid .card:last-child {
  margin-bottom: 0;
}


.card__paragraph {
  font-weight: 400;
  color: var(--paragraph-color);
  margin-bottom: 20px;
}

.card__paragraph:last-child {
  margin-bottom: 0;
}

.card__paragraph + .card__paragraph {
  margin-top: 20px;
}

.section__title {
  margin-bottom: 20px;
  font-weight: 700;
  color: var(--deco-color);
}

.section__title.title-decor {
  margin-bottom: 10px;
  color: var(--bg-color);
}

.section_pictures .section__title.title-decor {
  margin-bottom: 6px;
}

.card__title {
  margin-bottom: 10px;
  font-weight: 400;
}

.card__title_semibold {
  font-weight: 700;
}

.section__title + .card__title {
  margin-top: 20px;
}

.card__link-style {
  cursor: pointer;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card__link-style:focus {
  outline: none;
}

.card__link-style:hover {
  border-bottom: 1px solid var(--paragraph-color);
}

.card__link-style:focus-visible {
  outline: 1px solid var(--deco-color);
}

.picture__item {
  width: 100%;
  margin: 0;
}


.pictures__container {
    display: grid;
    gap: 10px;
    margin-top: 0px;
    margin-bottom: 0;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  margin-top: 40px;
}

.footer_title {
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  align-self: center;
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--accent-color);
  font-family: var(--main-font-family), sans-serif;
}

@media (min-width: 768px) {
  .section_pictures .section__title.title-decor {
    margin-bottom: 15px;
  }

 .section_columnar {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 18px;
        padding: 0 10px;
    }
    
    .section_columnar .section__title {
        grid-column: 1 / 2;
    }

    .section_columnar .section__content-wrapper {
        grid-column: 2 / 3;
        align-items: start;
    }
    
    .pictures__container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 20px;
    }

    .picture__item_sunset {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .picture__item_ice-cream {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }

    .picture__item_tape {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }

    .picture__item_books {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .picture__item_street {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }

    .pictures__container .picture__item {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  
  .header_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .header {
    padding: 0;
    grid-template-columns: 1fr 364px 20px;
    margin-bottom: 60px;
  }

  .header__theme-menu {
    top: 192px;
    right: 20px;
  }

  .header__paragraph {
    position: static;
    grid-column: 2 / 3;
    grid-row: 3;
    width: auto;
    min-width: 364px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decor_rec {
    top: 20px;
    right: 29px;
  }

  .section {
    padding: 0 20px;
  }

  .card__otstype {
    max-width: 236px;
  }

  .content {
    gap: 80px;
  }

}

@media (min-width: 1024px) {
  .header {
    grid-template-columns: 1fr 491px 20px;
  }

.header__theme-menu-button {
  padding: 1.7px 10.5px;
}

 .card__otstype {
    max-width: 315px;
  }

  .header__theme-menu {
    position: static;
    grid-row: 1;
    grid-column: 1 / 4;
    justify-self: center;
    align-self: start;
    padding-top: 22px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }

  .header__paragraph {
    width: 491px;
    min-width: 491px;
  }

  .header__paragraph br {
    display: none;
  }

  .section_cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .section_cards-grid .section__title {
    grid-column: 1 / 4;
    margin-bottom: 2px;
  }
  
  .section_cards-grid .card {
    grid-column: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .section_columnar {
    padding: 0 20px;
    gap: 12px;
  }

  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

    
