/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* Светлая тема по умолчанию */
  --background-image: url("/images/cover-image-light.png");
  --background-color: #FFF1F7;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --main-font-family: 'IBM Plex Mono';
  --bg-color: #353430;
  --text-color: #FF8DCB;
  --deco-color: #353430;
  --paragraph-color: #353430;
}

/* Автоматическая темная тема  */
@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url("/images/cover-image-dark.png");
    --background-color: #000028;
    --title-color: #DB00FF;
    --accent-color: #FF0070;
    --bg-color: #000028;
    --text-color: #FF0070;
    --deco-color: #FF0070;
    --paragraph-color: #F1B2CE; 
  }

  .section__title {
    color: var(--text-color);
  }

  .header__theme-menu-button {
    color: var(--text-color);
  }

  .card__paragraph {
    color: var(--paragraph-color);
  }

  .title-decor {
    color: var(--bg-color);
    background-color: var(--text-color);
  }

  .decor_rec {
    display: inline;
  }
}



