/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* Светлая тема по умолчанию */
  --background-image: url("/images/cover-image-light.png");
  --background-color: #FFF1F7;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --main-font-family: 'IBM Plex Mono';
  --bg-color: #353430;
  --text-color: #FF8DCB;
  --deco-color: #353430;
  --paragraph-color: #353430;
}



