/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/:root{
--background-image: url("/images/cover-image-light.png");
--background-color: #FFF1F7;
--title-size: 116px;
--title-color: #FFC2E6;
--accent-color: #FF8DCB;
--main-font-family: 'IBM Plex Mono';
--bg-color: #353430;
--text-color: #FF8DCB;
--deco-color: #353430;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* ... переменные для тёмной темы ... */
  }
  .decor-rec {
    /* Показываем элемент в автомат тёмной теме */
    display: block; 
  }
}



